In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
market=pd.read_csv("Market_Basket_Optimisation.csv")
market

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
market.shape

(7500, 20)

In [6]:
trans = []
for i in range(0, 7500):
    trans.append([str(market.values[i,j]) for j in range(0, 20)])
trans = np.array(trans)

In [7]:
print(trans.shape)

(7500, 20)

In [14]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data= te.fit_transform(trans)
market_mo= pd.DataFrame(data, columns = te.columns_)

In [15]:
market_mo.shape

(7500, 121)

In [16]:
market_mo

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [26]:
from mlxtend.frequent_patterns import apriori

#Now, let us return the items and itemsets with at least 5% support:
frequent_itemsets=apriori(market_mo, min_support = 0.01, use_colnames = True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                      itemsets  length
0    0.020267                                     (almonds)       1
1    0.033200                                     (avocado)       1
2    0.010800                              (barbecue sauce)       1
3    0.014267                                   (black tea)       1
4    0.011467                                  (body spray)       1
..        ...                                           ...     ...
514  0.011067       (ground beef, nan, milk, mineral water)       4
515  0.017067  (spaghetti, ground beef, nan, mineral water)       4
516  0.015733         (spaghetti, nan, milk, mineral water)       4
517  0.010267    (spaghetti, nan, olive oil, mineral water)       4
518  0.011467     (spaghetti, pancakes, nan, mineral water)       4

[519 rows x 3 columns]

In [27]:
frequent_itemsets[ (frequent_itemsets['length'] == 4) &
                   (frequent_itemsets['support'] >= 0.01) ]

      support                                           itemsets  length
502  0.013467              (eggs, nan, chocolate, mineral water)       4
503  0.010533                  (spaghetti, eggs, nan, chocolate)       4
504  0.010933       (ground beef, nan, chocolate, mineral water)       4
505  0.014000              (milk, nan, chocolate, mineral water)       4
506  0.010933                  (spaghetti, milk, nan, chocolate)       4
507  0.015867         (spaghetti, nan, chocolate, mineral water)       4
508  0.010133            (eggs, ground beef, nan, mineral water)       4
509  0.013067                   (eggs, nan, milk, mineral water)       4
510  0.014267              (spaghetti, eggs, nan, mineral water)       4
511  0.010133      (spaghetti, french fries, nan, mineral water)       4
512  0.011067      (frozen vegetables, milk, nan, mineral water)       4
513  0.012000  (spaghetti, frozen vegetables, nan, mineral wa...       4
514  0.011067            (ground beef, nan, milk, mineral water)       4
515  0.017067       (spaghetti, ground beef, nan, mineral water)       4
516  0.015733              (spaghetti, nan, milk, mineral water)       4
517  0.010267         (spaghetti, nan, olive oil, mineral water)       4
518  0.011467          (spaghetti, pancakes, nan, mineral water)       4

In [28]:
frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.01) ]

     support             itemsets  length
0   0.020267            (almonds)       1
1   0.033200            (avocado)       1
2   0.010800     (barbecue sauce)       1
3   0.014267          (black tea)       1
4   0.011467         (body spray)       1
..       ...                  ...     ...
71  0.016533         (white wine)       1
72  0.029467  (whole wheat pasta)       1
73  0.058533   (whole wheat rice)       1
74  0.011333               (yams)       1
75  0.027333        (yogurt cake)       1

[76 rows x 3 columns]

In [29]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'mineral water'} ]

     support         itemsets  length
46  0.238267  (mineral water)       1

In [30]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'burgers'} ]

   support   itemsets  length
6   0.0872  (burgers)       1

In [31]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'turkey'} ]

     support  itemsets  length
69  0.062533  (turkey)       1

In [25]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(nan),0.020267,1.0,0.020267,1.0,1.0,0.0,inf
1,(avocado),(nan),0.033200,1.0,0.033200,1.0,1.0,0.0,inf
2,(barbecue sauce),(nan),0.010800,1.0,0.010800,1.0,1.0,0.0,inf
3,(black tea),(nan),0.014267,1.0,0.014267,1.0,1.0,0.0,inf
4,(body spray),(nan),0.011467,1.0,0.011467,1.0,1.0,0.0,inf
...,...,...,...,...,...,...,...,...,...
254,"(ground beef, milk, mineral water)",(nan),0.011067,1.0,0.011067,1.0,1.0,0.0,inf
255,"(spaghetti, ground beef, mineral water)",(nan),0.017067,1.0,0.017067,1.0,1.0,0.0,inf
256,"(spaghetti, milk, mineral water)",(nan),0.015733,1.0,0.015733,1.0,1.0,0.0,inf
257,"(spaghetti, olive oil, mineral water)",(nan),0.010267,1.0,0.010267,1.0,1.0,0.0,inf
258,"(spaghetti, mineral water, pancakes)",(nan),0.011467,1.0,0.011467,1.0,1.0,0.0,inf

In [33]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets, metric="lift")
rules.sort_values('confidence', ascending = False, inplace = True)

## Handle mising values for consequents columns
index_to_drop_cons = rules[rules['consequents'] == frozenset({'nan'})].index
rules.drop(index_to_drop_cons,inplace=True)

## Handle mising values for antecedents columns
index_to_drop_ante = rules[rules['antecedents'] == frozenset({'nan'})].index
rules.drop(index_to_drop_ante,inplace=True)

In [34]:
# Function to change antecendents and consequents to list from immutable 
new_cons = []
for item in rules['consequents']:
    a = list(item)
    new_cons.append(', '.join(a))

new_ante = []
for item in rules['antecedents']:
    a = list(item)
    new_ante.append(', '.join(a))
    
# Apply list to each columns antecedents & consequents 
rules['antecedents'] = new_ante
rules['consequents'] = new_cons

# Drop missing values for each columns consequents & antecedents
index_to_drop_cons = rules[rules['consequents'].str.contains('nan')].index
rules.drop(index_to_drop_cons,inplace=True)

index_to_drop_ante= rules[rules['antecedents'].str.contains('nan')].index
rules.drop(index_to_drop_ante,inplace=True)

rules.reset_index(drop=True,inplace=True)

In [35]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"ground beef, eggs",mineral water,0.020000,0.238267,0.010133,0.506667,2.126469,0.005368,1.544054
1,"ground beef, milk",mineral water,0.022000,0.238267,0.011067,0.503030,2.111207,0.005825,1.532756
2,"ground beef, chocolate",mineral water,0.023067,0.238267,0.010933,0.473988,1.989319,0.005437,1.448130
3,"frozen vegetables, milk",mineral water,0.023600,0.238267,0.011067,0.468927,1.968075,0.005444,1.434328
4,soup,mineral water,0.050533,0.238267,0.023067,0.456464,1.915771,0.011026,1.401441
...,...,...,...,...,...,...,...,...,...
425,mineral water,"ground beef, chocolate",0.238267,0.023067,0.010933,0.045887,1.989319,0.005437,1.023918
426,mineral water,cereals,0.238267,0.025733,0.010267,0.043089,1.674442,0.004135,1.018137
427,mineral water,"spaghetti, olive oil",0.238267,0.022933,0.010267,0.043089,1.878880,0.004802,1.021063
428,mineral water,"spaghetti, french fries",0.238267,0.027600,0.010133,0.042529,1.540920,0.003557,1.015593
429,mineral water,"ground beef, eggs",0.238267,0.020000,0.010133,0.042529,2.126469,0.005368,1.023530